* {
  font-family: Inter;
  margin: 0px;
  padding: 0px;
}
nav {
  max-width: 1200px;
  margin: auto;
  padding: 12px 12px;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.menu {
  display: flex;
  gap: 30px;
}
nav li a {
  text-decoration: none;
  color: #181818;
}
.primary-btn {
  background-color: #469165;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #fd6e0a;
}
.hero-section {
  display: flex;
  height: 550px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
}
.hero-text {
  text-align: center;
  margin: auto;
}

.early-access {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 500;
  color: #469165;
}
.hero-text h1 {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
}
#hero-para {
  color: #fff;
  font-size: 18px;
  align-self: stretch;
  margin-top: 10px;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.section-btn {
  display: inline-flex;
  align-items: center;
  background-color: #469165;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  cursor: pointer;
  gap: 8px;
}
.section-btn:hover {
  background-color: #fd6e0a;
}
.btn {
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  cursor: pointer;
  gap: 8px;
  border: 1px solid #fff;
}
.btn:hover {
  background-color: #469165;
  border: none;
}
